/IRnet-main
/app/prediction_results
/app/IRnet_main
/irnet_backend/app/IRnet-main/prediction_results
/irnet_backend/app/IRnet_main
/irnet_backend/app/Anaconda3-2024.02-1-Linux-x86_64.sh
/app/Anaconda3-2024.02-1-Linux-x86_64.sh